node_modules
build
.DS_Store
tcr
zzz

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/secrets.json
.vscode

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

src/abis/*.json