/_archive
/build
/node_modules
/tcr
/wiki

.DS_Store
npm-debug.log*

notes.md

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/src/abis/addresses.md

.firebaserc
firebase.json