node_modules
build
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/secrets.json
*/.keys.js
.vscode
.firebaserc
firebase.json

package-lock.json

/tcr

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml