option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.nano
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm run start:prod"
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 6.12.2
commands:
  01setup_swap:
    command: "bash /tmp/setup_swap.sh"
files:
   /tmp/setup_swap.sh:
    mode: "000744"
    owner: root
    group: root
    content: |
      #!/bin/bash
  
      # Add 2GB swap
      SWAPFILE=/var/swapfile
      SWAP_MEGABYTES=2048
    
      if [ -f $SWAPFILE ]; then
        echo "Swapfile $SWAPFILE found, assuming already setup"
        exit;
      fi  

      /bin/dd if=/dev/zero of=$SWAPFILE bs=1M count=$SWAP_MEGABYTES
      /bin/chmod 600 $SWAPFILE
      /sbin/mkswap $SWAPFILE
      /sbin/swapon $SWAPFILE
