html {
  margin: 0;
}
@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('./assets/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
/* @font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/.woff2') format('woff2'),
    url('./assets/fonts/.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */
body {
  color: black;
  font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
}
